@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 2% 3%;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}


ol {
  list-style-type: lower-alpha;
  padding: 0;
}

ul {
  text-align: center;
  color: blue;
  line-height: 1.5;
  /* list-style: url('../images/checkmark.png') square inside; */
}


ul li:nth-child(even) {
  color: red;
}

ul ::marker {
  color: green;
  content: "hi";
  font-family: roboto;
  font-size: 1em;
}
 

