/* 
Typography is the way that text is displayed on a webpage. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    padding: 6%;
    font-size: 1.5rem;
    font-family: 'Roboto', serif;
}

/* input, button {
    font: inherit;
} */

p {
    text-indent: 2rem;
    line-height: 1.5;

}